nav {
  background: linear-gradient(to right , #7C9473, #CDD0CB);
  color:#FFF;
}
/* rgba(215, 3, 88, 0.663), #2a06cbad */
.content{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px 0;
}
ul{
  list-style: none;
  display: flex;
  width: 20%;
  margin: 0;
}
li{
  cursor: pointer;
  font-size: 22px;
  color: #FFF;
  text-decoration: none;
  margin-right: 50px;

}
.container{
  justify-content: space-between;
}
